        /* global css dito*/
        
        body {
            font-family: "Yu Gothic UI";
            font-size: 24px;
            font-weight: 400;
            overflow-x: hidden;
            background-color: #f8f8f8;
        }

        /* default a css */
        a {
            text-decoration: none;
            color: #f0f0f0;
            transition: 0.3s;
        }

        .headerlinks:hover {
            transition: 0.3s;
            text-decoration: dotted;
            color: #6abba9;
        }

        #links {
            border: solid 0.5px;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            border-color: #3d5a80;
            background-color: #3d5a80;
            position: absolute;
            width: 100%;
            top: 0px;
            left: 0px;
        }

        #pageheader {
            transition: 0.3s;
            background-color: #f0f8ff;
            padding: 25%;
        }

        #pageheader:hover {
            transition: 0.5s;
            background-color: #afc1dd;
        }

        .productinfo {
            font-size: 18px;
            font-weight: 400;
            transition: 0.3s;
            background-color: #fff;
            padding: 5em;
            display: flex;
            gap: 2em;
        }

        .prodbenefits {
            font-size: 18px;
            font-weight: 400;
            transition: 0.3s;
            background-color: #d2ddf5;
            padding: 4em;
            display: flex;
            gap: 2em;
        }

        footer {
            font-size: 16px;
            display: grid;
            width: 100%;
            grid-template-columns: auto auto auto;
            gap: 10%;
            background-color: #3d5a80;
        }
